<div class="row" id="columns">
  <% @roastings.each do |roasting| %>
      
      <div class="thumbnail">
        <%= image_tag roasting.image %>

        <div class="caption">
          <h3><%= roasting.name %></h3>
          <p><%= roasting.description %></p>
          <p><%= number_to_currency(roasting.price) %></p>
          <p><%= "Sold by #{roasting.user.name}" %></p>
          <%= link_to 'Show', roasting, class: "btn btn-link" %>
        </div>
      </div>

  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Roasting', new_roasting_path, class: "btn btn-link", data: {no_turbolink:true} %>
<% end %>
