<h1>Listing roastings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roastings.each do |roasting| %>
      <tr>
        <td><%= image_tag roasting.image.url(:thumb) %></td>
        <td><%= roasting.name %></td>
        <td><%= roasting.description %></td>
        <td><%= roasting.price %></td>
        <td><%= link_to 'Show', roasting, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_roasting_path(roasting), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', roasting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roasting', new_roasting_path, class: "btn btn-link" %>
