<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roasting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roasting.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @roasting.price %>
</p>

<%= link_to 'Edit', edit_roasting_path(@roasting) %> |
<%= link_to 'Back', roastings_path %>
